/* UPCOMING APPOINTMENTS SECTION */
.upcoming_appointment__card-box {
  border-radius: 22px;
  color        : #fff;
  font-weight  : 700 !important;
  font-size    : 20px !important;
  text-shadow  : 0px 0px 15px #000;
}

.upcoming_appointment__main_header {
  margin-left: 5px;
  color      : var(--text-primary);
  font-weight: 500;
  text-shadow: none;
  font-size  : 1.2rem;
}

.no_appointments {
  color: #3e4543;
}

.card_holder {
  width: 100%;
}

.upcoming_appointment_card {
  position        : relative;
  display         : flex;
  flex-direction  : column;
  min-width       : 0;
  word-wrap       : break-word;
  background-color: #fff;
  background-clip : border-box;
  border-radius   : 22px;
  border-left     : 3px solid var(--primary);
  transition      : all 0.2s;
  box-shadow      : 0px 0px 4px #e9e9e9;
  margin-bottom   : 2rem;
}

.upcoming_appointment_card:hover {
  transition : all 0.2s;
  border-left: 6px solid var(--primary);
}

.upcoming_appointment-card__img-wrapper {
  padding   : 20px;
  text-align: center;
}

.img_circle {
  -webkit-border-radius: 50%;
  -khtml-border-radius : 50%;
  -moz-border-radius   : 50%;
  border-radius        : 50%;
  width                : 70px;
  height               : 70px;
}

.upcoming_appointment_card__card-details {
  margin: 10px;
  color : #3e4543;
}

.upcoming_appointment_card__doctor-name {
  text-shadow   : none;
  font-size     : 1rem;
  font-weight   : 400;
  margin-bottom : 2px;
  text-transform: capitalize;
  color         : #3e4543;
}

.upcoming_appointment_card__common-span {
  font-size      : 0.7rem;
  text-decoration: none;
  text-shadow    : none;
  font-weight    : bold;
}

.upcoming_appointment_card__specality {
  color          : #3e4543;
  font-size      : 12px;
  text-decoration: none;
  text-shadow    : none;
  display        : block;
  font-weight    : none;
  margin-left    : 2px;
  font-weight    : 400;
}

.upcoming_appointment_card__card-details__date_div {
  display    : flex;
  align-items: center;
  margin-top : 15px;
}

.upcoming_appointment_card__card-time_row>img {
  width       : 28px;
  height      : 28px;
  margin-right: 4px;
}

.upcoming_img_circle {
  width    : 70px;
  height   : 70px;
  top      : 0;
  left     : 0;
  transform: translate(45px, 3px);
}

.upcoming_appointment_card__doctor_name {
  text-shadow   : none;
  font-size     : 1rem;
  font-weight   : 400;
  margin-bottom : 6px;
  text-transform: capitalize;
  color         : #3e4543;
}

.upcoming_appointment_card__card_details {
  margin: 10px;
  color : #3e4543;
}

.upcoming_appointment_card__specality {
  color          : #3e4543;
  font-size      : 12px;
  text-decoration: none;
  text-shadow    : none;
  display        : block;
  font-weight    : none;
  margin-left    : 2px;
}

.upcoming_appointment_card__card-details__date_div {
  display    : flex;
  align-items: center;
  margin-top : 15px;
}

.upcoming_appointment_card__card_time_row>img {
  width       : 28px;
  height      : 28px;
  margin-right: 4px;
}

.upcoming_appointment_card__common_span {
  font-size      : 0.7rem;
  text-decoration: none;
  text-shadow    : none;
  font-weight    : 500;
  color          : var(--text-primary);
}

.upcoming_appointment_card__card-time_row>img {
  width       : 28px;
  height      : 28px;
  margin-right: 10px;
}